services: 
  client: 
    build:
        context: ./client
        dockerfile: Dockerfile
    ports:
      - "8080:8080"
    volumes:
      - ./client:/app          
      - /app/node_modules      
    environment:
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
      - VITE_API_URL=http://localhost:3000/api 
    command: npm run dev
  
  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - ./server:/app
      - /app/node_modules
    env_file:
      - .env
    environment:
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
      - OLLAMA_HOST=http://ollama:11434
      - MONGO_URI=${DB_URI}
    command: npm run run
    depends_on:
      - ollama
      - mongodb

  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    ports: ["11434:11434"]
    volumes:
      - ollama_data:/root/.ollama
    pull_policy: always
    tty: true
    restart: unless-stopped
    entrypoint: /bin/sh
    command: -c "ollama serve & sleep 5 && ollama pull phi3:latest && wait"
    
  mongodb:
    image: mongo:latest
    env_file:
      - .env
    ports:
      - 27017:27017
    volumes:
      - mongodata:/data/db
  
volumes:
  ollama_data:
  mongodata:
    driver: local
