services: 
  client: 
    build:
        context: ./client
        dockerfile: Dockerfile
    ports:
      - "8080:8080"
    volumes:
      - ./client:/app          
      - /app/node_modules      
    environment:
      - CHOKIDAR_USEPOLLING=true
      - VITE_API_URL=http://localhost:3000/api 
    command: npm run dev
  
  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - ./server:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
      - MONGO_URI=mongodb://mongodb:27017/Development-V-WDM 
      - PORT=3000
    command: npm run run
    depends_on:
      - mongodb

  mongodb:
    image: mongo:latest
    ports:
      - 27017:27017
    volumes:
      - mongodata:/data/db
  
volumes:
  mongodata:
    driver: local